<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 id="WebApp_ID" version="3.0">

	<display-name>layoutdemo-web</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root.layoutdemo</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:web-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>

	<!-- Servlets -->

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>layoutdemo.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>29</session-timeout>
	</session-config>

</web-app>
